ale-py==0.8.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.3
pillow==10.4.0
psutil==6.1.1
stable_baselines3==2.4.1
torch==2.5.1
torchvision==0.20.1
torchviz==0.0.3
tqdm==4.67.1
wandb==0.19.6